.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  .topBlock {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #000;
    width: 100%;
    gap: 100px;
    $defaultPadding: 70px;
    padding: $defaultPadding 0;
    padding-top: $defaultPadding + 60px;
    
    .info {
      display: flex;
      flex-direction: column; 
      align-items: flex-start;
      margin-top: 50px;
      gap: 40px;
      
      .heading {
        font-weight: 600;
        font-size: 5rem;
      }
    
      .subheading {
        font-size: 1.5rem;
        max-width: 400px;
        font-weight: 300;
      }
  
      .button {
        
      }
    }

    .video {
      $size: 512px;
      width: $size;
      height: $size;
    }
  }

  .cards {
    margin-top: -50px;

    .pageCard {
      width: 1500px;
      padding: 30px;
      border-radius: 35px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        .title {
          font-size: 2rem;
        }

        .description {
          font-size: 1rem;
          font-weight: 300;
          font-family: 'Open Sans', 'Roboto', -apple-system, 'sans-serif';
          color: #d2d2d2;
          margin-top: 5px;
          max-width: 500px;
        }

        .lastUpdate {
          display: block;
          margin-top: 10px;
        }

        .button {
          margin-top: auto;
          justify-self: flex-end;
        }
      }

      .image {
        width: 500px;
        height: 200px;
        position: relative;
        align-self: flex-end;
      }
    }
  }
}