.main {
  display: flex;
  justify-content: center;
  
  .topBlock {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #000;
    width: 100%;
    gap: 100px;
    padding: 70px 0;
    
    .info {
      display: flex;
      flex-direction: column; 
      align-items: flex-start;
      margin-top: 50px;
      gap: 40px;
      
      .heading {
        font-weight: 600;
        font-size: 5rem;
      }
    
      .subheading {
        font-size: 1.5rem;
        max-width: 400px;
        font-weight: 300;
      }
  
      .button {
        
      }
    }
  }
}