.container {
  display: flex;
  justify-content: center;
  padding-top: 64px;

  .innerContainer {
    margin: 24px 0;
    display: flex;
    gap: 24px;

    .video {
      width: 1100px;

      .player {
        width: 100%;
        height: auto;
        aspect-ratio: 1920 / 1080;
      }

      .title {
        font-size: 18px;
        font-weight: 400;
        margin-top: 20px;
      }

      .info {
        width: 100%;
        display: flex;
        align-items: center;
        height: 36px;

        // & > * {
        //   flex: 1
        // }
        
        .caption {
          color: #aaaaaa;
          font-size: 14px;
          flex: 1;
        }
        
        .ratio {
          display: flex;
          flex-direction: column;

          .buttons {
            display: flex;
            color: #fff;
            align-items: center;
            gap: 8px;

            div {
              display: flex;
              align-items: center;
              text-transform: uppercase;
              font-size: 14px;
              font-weight: 500;
              letter-spacing: 0.5;
              padding-right: 6px;

              svg {
                $size: 24px;
                width: $size;
                height: $size;
                margin: 8px;
                box-sizing: content-box;
              }
            }
          }

          .ratioBar {
            height: 2px;
            background-color: #717171;
            margin-top: 5px;

            .filledRatioBar {
              height: 100%;
              background-color: #fff;
            }
          }
        }
      }

      hr {
        height: 1px;
        background-color: rgba(255, 255, 255, 0.1);
        border: none;
      }

      .description {
        width: 100%;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }

      .commentsHeader {
        display: flex;
        align-items: center;
        margin: 24px 0;

        & > *:nth-child(1) {
          font-size: 16px;
        }
      }

      .comments {
        .comment {
          margin-bottom: 16px;

          .topLine {
            display: flex;
            align-items: center;
            gap: 4px;

            .author {
              font-size: 13px;
              font-weight: 500;
            }

            .date {
              font-size: 14px;
              color: #aaaaaa;
            }
          }

          .text {
            color: #fff;
            margin-top: 4px;
            font-size: 14px;
            letter-spacing: normal;
          }

          .likes {
            display: flex;
            align-items: center;
            color: #fff;
            gap: 10px;

            .label {
              font-size: 12px;
              color: #aaaaaa;
            }
          }

          .replies {
            margin-left: 50px;

            .repliesLabel {
              font-weight: 600;
              font-size: 14px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }

    .nextVideos {
      & > * {
        margin-bottom: 8px;
      }
    }
  }
}