.container {
  display: flex;
  justify-content: center;
  padding-top: 64px;
  
  @media screen and (max-width: 428px) {
    padding: 64px 15px;
  }
  
  .videos {
    width: min-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 4px;
    row-gap: 24px;
    margin: 20px 0;

    @media screen and (max-width: 1080px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: 860px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 648px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 480px) {
      grid-template-columns: 1fr;
      row-gap: 30px;
    }

    @media screen and (max-width: 428px) {
      width: 100%;
    }
  }
}