.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  
  @media screen and (max-width: 428px) {
    padding: 80px 15px;
  }

  .select {
    width: 1066px;
    displaY: flex;
    justify-content: flex-end;

    @media screen and (max-width: 1080px) {
      width: 852px;
    }
  
    @media screen and (max-width: 860px) {
      width: 632px;
    }
  
    @media screen and (max-width: 648px) {
      width: 424px;
    }
  
    @media screen and (max-width: 480px) {
      width: 210px;
    }
  
    @media screen and (max-width: 428px) {
      width: 100%;
    }
  }
  
  .videos {
    width: min-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 4px;
    row-gap: 24px;
    margin: 20px 0;

    @media screen and (max-width: 1080px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: 860px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 648px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 480px) {
      grid-template-columns: 1fr;
      row-gap: 30px;
    }

    @media screen and (max-width: 428px) {
      width: 100%;
    }
  }
}